<h3>CreateProfileView</h3>

@{
}
<div id="CreateProfileForm">
    <input type="text" id="FName" name="FirstName" placeholder="Enter your first name" />
    <input type="text" id="LName" name="LastName" placeholder="Enter your last name" />
    <input type="email" id="Email" name="UEmail" placeholder="Enter your email" />
    <input type="number" id="Age" name="UAge" placeholder="Enter your age" />
    <input type="text" id="Address" name="UAddress" placeholder="Enter your address" />
    <input type="number" id="PhoneNo" name="UPhoneNo" placeholder="Enter your phone number" />
    <input type="password" id="SPass" name="SPassword" placeholder="Password" />

</div>
g