@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link id="dynamic-css" rel="stylesheet" href=""> 
    <link rel="stylesheet"> 
</head>

<body>
    <div id="main">

    </div>
    
    <script src="/js/site.js"></script> 
    <script src="/js/adminlogin.js"></script>
    <script src="/js/adminsite.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadView(' ', 'login', ' '); 
        });
    </script>
</body>
</html>